# ARR files I do not have rights to and may not distribute
config/openloader/resources/TwilightJappaPack.zip

# Various local and/or unused directories/files
local/
aes/
modernfix/
backups/
quests_structures/
rhino.local.properties
shaderpacks/
texturepacks/
Xaero*/
xaero/
saves/
screenshots/
usercache.json
usernamecache.json
logs/
crash-reports/
knownkeys.txt
kubejs/README.txt
*.tmp
config/spark/tmp/
patchouli_data.json
fancymenu_data/last_world.fmdata
config/spark/activity.json

# We don't distribute options.txt, we use default options!
options.txt

# These are updated too often to include in VCS
config/oculus.properties
config/jeiintegration-client.toml
config/attributefix.json
config/xaerominimap_entities.json

# This is unused, it will be generated but may as well not clutter VCS
config/custom-micromaterials.cfg

# This is a PrismLauncher file
icon.png

# We don't distribute mods directly, we use manifest files
coremods/
mods/

# Config files for mods that won't be included in finished packs
config/worldedit

# I finally realized there's no reason to ship this. Once it's time to finalize
# the list of hidden items, I can just make it a resource pack.
emi.json
