# Various local and/or unused directories/files
/local/
/aes/
/modernfix/
/backups/
/quests_structures/
rhino.local.properties
/shaderpacks/
/texturepacks/
/saves/
/screenshots/
usercache.json
usernamecache.json
/logs/
/crash-reports/
knownkeys.txt
kubejs/README.txt
*.tmp
config/spark/tmp/
/patchouli_data.json
fancymenu_data/last_world.fmdata
config/spark/activity.json
/.mixin.out/
/exposures/
otyacraftengine/
/iammusicplayer/
/data/
/showdown/
/ESM/
/config/inventoryprofilesnext
/config/jei/recipe-category-sort-order.ini
/config/structurify/
paragliderSettings.nbt
/DatapackStorage/
/map_atlases/

# We don't distribute options.txt, we use default options!
options.txt

# Personal item lists that are here for my convenience
/ItemLists/

# Backup of quark-common.toml from testing
/VariantusDeletus/QuarkConfigBackup.toml

# Literally just a list of items in the game
/VariantusDeletus/ItemMasterlist.txt

# These are updated too often to include in VCS
config/crash_assistant/modlist.json

# Spark Stuff
config/spark/*.threads
config/spark/*.index
config/spark/*.zip
config/spark/*.hprof

# This is unused, it will be generated but may as well not clutter VCS
config/custom-micromaterials.cfg

# This is a PrismLauncher file
icon.png

# We don't distribute mods directly, we use manifest files
/coremods/
/mods/
/resourcepacks/

# Config files for mods that won't be included in finished packs
config/worldedit

# I finally realized there's no reason to ship this. Once it's time to finalize
# the list of hidden items, I can just make it a resource pack.
emi.json

# This is just a library needed by OC2r
/liboc2rnet.so

# This is the binary for pakku, which I use because I'm on arch
/pakku.jar

# Immersive paintings stuff is storage
/immersive_paintings/
/immersive_paintings_cache/
